* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  overflow-x: hidden; 
  width: 100%;
}
body {
  background-color: #fff;
  color: #252B42;
}

.asosiy {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 57, 57, 0.1)), url("./birinchi\ rasim.jpg") no-repeat center center/cover;
  height: 100vh;
  padding: 0 10%;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: serif;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.btn-quote {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.hero-content h1 {
  font-size: 58px;
  max-width: 500px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  max-width: 400px;
  margin-bottom: 30px;
}

.hero-btns .btn-blue {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  margin-right: 15px;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 35px;
  border-radius: 30px;
}

.appointment-card {
  color: #252B42;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  width: 400px;
}

.appointment-card h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #F9F9F9;
}

.btn-submit {
  width: 100%;
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.services {
  padding: 80px 10%;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  text-align: center;
}

.section-header p {
  color: #737373;
  max-width: 600px;
  margin: 0 auto 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service-card {
  border: 1px solid #E6E6E6;
  padding: 40px;
  text-align: left;
  border-radius: 10px;
}

.icon-box {
  width: 60px;
  height: 60px;
  background-color: #D3E9FB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.service-card h4 {
  display: flex;
  align-items: center;
}

.service-card ul {
  list-style: none;
  color: #737373;
  font-size: 14px;
  margin-bottom: 20px;
}

.learn-more {
  color: #23A6F0;
  text-decoration: none;
  font-weight: bold;
}

.testimonials {
  padding: 80px 10%;
  background-color: #FAFAFA;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.testi-card {
  background: white;
  padding: 30px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.stars {
  color: #F3CD03;
  font-size: 20px;
  margin-bottom: 15px;
}

.testi-card p {
  color: #737373;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-text h5 {
  color: #23A6F0;
  font-weight: bold;
}

.user-text span {
  font-size: 12px;
  color: #252B42;
}

.faq {
  padding: 80px 10%;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.faq-item {
  display: flex;
  background: white;
  padding: 25px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.faq-text h5 {
  font-size: 16px;
  color: #252B42;
  margin-bottom: 5px;
}

.faq-text p {
  font-size: 14px;
  color: #737373;
}

.pricing {
  padding: 80px 10%;
  background-color: #FAFAFA;
}

.pricing-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 50px;
}

.price-card {
  background: white;
  padding: 50px 40px;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  text-align: center;
  width: 330px;
  transition: 0.3s;
}

.price-card.active {
  background-color: #252B42;
  color: white;
  padding: 70px 40px;

}

.price-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.plan-desc {
  color: #737373;
  font-size: 14px;
  margin-bottom: 30px;
}

.price-card.active .plan-desc {
  color: white;
}

.price {
  font-size: 40px;
  font-weight: bold;
  color: #23A6F0;
  margin-bottom: 30px;
}

.price span {
  font-size: 14px;
  display: block;
}

.features {
  list-style: none;
  text-align: left;
  margin-bottom: 35px;
}

.features li {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
}

.features li.check::before {
  content: '✔';
  color: #2DC071;
  position: absolute;
  left: 0;
}

.features li.mute::before {
  content: '✔';
  color: #BDBDBD;
  position: absolute;
  left: 0;
}

.features li.mute {
  color: #737373;
}

.btn-price {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.get-in-touch {
  background-color: #252B42;
  padding: 80px 10%;
  color: white;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.newsletter-text p {
  max-width: 500px;
  opacity: 0.8;
}

.newsletter-form {
  display: flex;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.newsletter-form input {
  padding: 15px 20px;
  border: none;
  outline: none;
  width: 300px;
}

.newsletter-form button {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 0 25px;
  cursor: pointer;
}

.footer {
  padding: 50px 10% 20px;
  background-color: #fff;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 50px;
}

.footer-col h5 {
  font-size: 16px;
  margin-bottom: 25px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  color: #737373;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer6;
}

.footer-bottom {
  text-align: center;
  padding-top: 25px;
  color: #737373;
  font-size: 14px;
}

.navbar, .nav-links {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .hero-container, .navbar, .asosiy {
      width: 100% !important;
      max-width: 100vw; 
      overflow: hidden;
  }

  .nav-links {
      padding: 0;
  }

  .hero-container h1 {
      font-size: 28px; 
  }

  .asosiy {
      padding: 0 5%;
      height: auto;
  }
}